<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>merisva-reader</symbolicName>
    <version>1.1-SNAPSHOT</version>
    <name>MERIS-VA Product Reader</name>

    <description>Enables BEAM to read MERIS-VA HDF5 data products.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2008 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        Changes in 1.1:<br/>
        - Synchronised read method<br/>
        - Adopted to BEAM 4.7 API changes<br/>
        <br/>
        ]]>
    </changelog>
    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>lib-hdf</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader,MERIS-VA</categories>

    <extension point="beam-ui:actions">
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <id>importMerisVaProduct</id>
            <helpId>importMerisVaProduct</helpId>
            <formatName>MERIS-VA</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <text>Import MERIS-VA Product...</text>
            <mnemonic>M</mnemonic>
            <shortDescr>Import a MERIS-VA data product or product subset.</shortDescr>
            <description>Import a MERIS-VA data product or product subset.</description>
        </action>
    </extension>

</module>
